.container-profile {
    height: 100%;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 50%;
    height: 50%;
    text-align: center;
}

.container-rental-active{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    width: 100vw;
}

.rental-active {
    margin: 2em;
}

