.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
}

.input-error {
  color: red;
  text-align: center;
}

.self-input {
  width: 30vw;
  margin-bottom: 1.5em;
}