.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

.link-design {
  margin-right: 2em;
  color: white;
}


.link-design-out {
  cursor: pointer;
  color: red;
}

.abelino-icon{
background-image: url(/Frontend-project-5/src/assets/images/logo.png);
width: 100px;
height: 100px;

}
