
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App-home{

  height: 100vh;
}

 .main-app {
    background: url(https://hotstar-88d5e.web.app/static/media/login-background.05b1a1b3.jpg) ;
    background-repeat:  no-repeat;
    background-size: cover;
    height: 100vh;
   
  }

