
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
}

  main{
    background: url(https://hotstar-88d5e.web.app/static/media/login-background.05b1a1b3.jpg) ;
    background-repeat:  no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

